/* General page styling */
body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to bottom, #4facfe, #00f2fe);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

/* Form container */
form {
    background:linear-gradient(to bottom, #4facfe, #00f2fe);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 550px;
}

/* Input fields, dropdowns, and labels */
label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555555;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Input focus effect */
input:focus, select:focus {
    border-color: #7695ff;
}
.form-group input:hover{
    font-size: 14.5px;
    width: 101%;
}

/* Button styling */
button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #7695ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
button:hover {
    background-color: #4facfe;
}

/* Form responsiveness */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    h1 {
        font-size: 18px;
    }

    button {
        font-size: 14px;
    }
}
